body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    height: 100%;
}

a {
    color: #000;
    opacity: 0.75;
    text-decoration: none;
}

a:hover {
    opacity: 0.85;
    text-decoration: underline;
}

.header, .footer {
    display: grid;
    justify-items: center;
    align-content: center;
    padding: 15px;
}

/* Header section */
.header {
    position: fixed;
    top: 16px;
    grid-template-columns: repeat(2, 1fr) 20fr repeat(4, 1fr);
}

.gmail {
    /* Given the above column template and that classes "about" and "store"
    implicitly becoming columns 1 and 2, make column 3 an empty space by
    skipping column 3 with the next element! */
    grid-column-start: 4;
}

.login {
    padding: 12px;
    border: 1px solid #4285f4;
    border-radius: 2px;
    font-weight: bold;
    background-color: #4285f4;
    background-clip: border-box;
}

.login a {
    color: #fff;
    opacity: 1.0;
}

/* Center section */
.main {
    margin-top: 89px;
    display: block;
    text-align: center;
}

.logo {
    padding-bottom: 32px;
    padding-top: 109px;
    height: 92px;
    width: 272px;
}

.search-bar {
    display: block;
}

.search-bar input {
    font-size: 1px;
    height: 42px;
    width: 550px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.search-bar input:hover {
    box-shadow: 0 1px 6px 0 #202124;
}

.misc-buttons {
    margin-top: 20px;
    display: inline-block;
    word-spacing: 0px;  
}

input[type="submit"] {
    font-size: 14px;
    height: 36px;
    margin: 11px 4px;
    padding: 0 16px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #f8f8f8;
    border-color: #c6c6c6;
    color: #222;
}

.changing-link {
    margin: 14px 0;
}

.changing-link a {
    color: #1a0dab;
    opacity: 1;
}

.changing-link a:hover {
    opacity: 1;
}

/* Footer section */
.footer {
    bottom: 0;
    height: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 20fr repeat(3, 1fr);
    background-color: #f2f2f2;
    border: solid 1px #e4e4e4;
}

.privacy {
    /* Given the above column template and that classes "advertising",
    "business" and "explain" implicitly becoming columns 1, 2, and 3, make
    column 4 an empty space by skipping column 4 with the next element! */
    grid-column-start: 5;
}
