body {
    font-family: Arial, sans-serif;
    font-size: 13px;
}

content {
    height: 100vh;
    width: 100vh;
}

a {
    display: inline-block;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
}

a:hover {
    opacity: 0.85;
    text-decoration: underline;
}

/* Header section */
.top-nav, .bottom-nav {
    vertical-align: middle;
    width: 100%;
}

.left, .right {
    display: inline-flex;
    align-items: center;
}

.right {
    float: right;
}

.top-nav .left, .top-nav .right,
.bottom-nav .left, .bottom-nav .right {
    height: 100%;
}

.top-nav .right,
.bottom-nav .right {
    padding: 0 30px;
}

.top-nav {
    height: 30px;
    top: 20px;
    display: block;
    position: fixed;
}

.top-nav .left {
    height: 100%;
    margin-left: 12px;
}

.top-nav .left a,
.top-nav .right a {
    padding-left: 15px;
}

.top-nav .right img {
    height: 18px;
    width: 18px;
    opacity: 0.85;
}

.top-nav .right img:hover {
    opacity: 1;
}

.top-nav .right .login {
    height: 100%;
    margin-left: 15px; 
    display: inline-flex;
    align-items: center;
    border: 1px solid #4285f4;
    border-radius: 2px;
    font-weight: bold;
    background-color: #4285f4;
}

.top-nav .right .login a {
    padding: 0 12px;
    color: #fff;
    opacity: 1.0;
}

/* Footer section */
.bottom-nav {
    box-sizing: border-box;
    height: 40px;
    position: absolute;
    display: block;
    bottom: 0;
    background-color: #f2f2f2;
    border: solid 1px #e4e4e4;
}

.bottom-nav .left a,
.bottom-nav .right a {
    padding-left: 27px;
}

/* Center section */
.main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    display: block;
    text-align: center;
}

.logo {
    height: 92px;
    width: 272px;
    padding-bottom: 32px;
    padding-top: 109px;
}

.search-bar {
    display: block;
}

.search-bar input {
    font-size: 1px;
    height: 42px;
    width: 550px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.search-bar input:hover {
    box-shadow: 0 1px 6px 0 #202124;
}

.misc-buttons {
    margin-top: 20px;
    display: inline-block;
}

input[type="submit"] {
    font-size: 14px;
    height: 36px;
    margin: 11px 4px;
    padding: 0 16px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #f8f8f8;
    border-color: #c6c6c6;
    color: #222;
}

.changing-link {
    padding: 14px 0;
}

.changing-link a {
    color: #1a0dab;
    opacity: 1;
}

.changing-link a:hover {
    opacity: 1;
}